@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

/*Reset*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f4568;
}

.header__logo {
  min-height: 1vh;
  height: 5px;
  width: 5%;
}

body {
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tm {
}

.site__title {
  color: #eaebed;
}

.site__subtitle {
  color: #eaebed;
}

/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
.sect {
  padding: 90px 0;
  position: relative;
}

.collapse {
  display: block;
}

.sect--grey {
  /*background-color: #ebeff9;*/
}

.sect--violet {
  background-color: #ffffff;
}

.sect--padding-bottom {
  padding-bottom: 115px;
}

.sect--padding-top {
  padding-top: 90px;
}

.sect--white {
  /* background-color:#fff;*/
}
.row--center {
  max-width: 1000px;
  margin: 0 auto;
}
.row--margin {
  margin-top: 45px;
}

.row__title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 0px;
}

.row__sub {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  color: #8198ae;
}

.price-box {
  padding: 0px 25px;
}

.price-box__wrap {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
  padding: 35px 35px 40px 35px;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.price-box__img {
  display: inline-block;
}

.price-box__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-box--purple .price-box__img {
  background-image: url("https://image.ibb.co/iGjEKG/1.png");
}

.price-box--violet .price-box__img {
  background-image: url("https://image.ibb.co/iyT8eG/2.png");
}

.price-box--blue .price-box__img {
  background-image: url("https://preview.ibb.co/nDRpmw/3.png");
}

.price-box__title {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.price-box__people {
  font-size: 12px;
  color: #8198ae;
  font-weight: 300;
  letter-spacing: 1px;
}
.price-box__discount {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.price-box__dollar {
  font-size: 18px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 4px;
}

.price-box--purple .price-box__dollar {
  color: #8a3aff;
}

.price-box--violet .price-box__dollar {
  color: #57ae09;
}

.price-box--blue .price-box__dollar {
  color: #3a9fff;
}

.price-box__discount--light {
  font-weight: 400;
  font-size: 20px;
  margin-left: 3px;
}

.price-box__price {
  margin-top: 3px;
  font-size: 14px;
  color: #8198ae;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 300;
  text-decoration: line-through;
}

.price-box__feat {
  margin-top: 30px;
  font-size: 16px;
}

.price-box__list {
  text-align: left;
  padding-left: 30px;
  margin: 0;
  list-style: none;
}

.price-box__list-el {
  position: relative;
  margin-bottom: 8px;
  font-weight: 300;
}

.price-box__list-el:before {
  content: "✓";
  position: absolute;
  left: -25px;
  font-size: 18px;
  top: -4px;
}

.price-box--purple .price-box__list-el:before {
  color: #8a3aff;
}

.price-box--violet .price-box__list-el:before {
  color: #57ae09;
}

.price-box--blue .price-box__list-el:before {
  color: #3a9fff;
}

.price-box__wrap:hover {
  backface-visibility: hidden;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

/* .btn {
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #57ae09;
  color: #fff;
} */

.price-box__wrap:hover .btn {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
}

.btn--revert {
  background-color: transparent;
  color: #57ae09;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn--revert:hover {
  background-color: transparent;
  color: #57ae09;
  box-shadow: none;
  border: 1px solid #8198ae;
}

.btn--purple {
  background-color: #8a3aff;
}

.btn--purple:hover {
  background-color: #b284f6;
}

.btn--violet {
  background-color: #57ae09;
}
.btn--violet:hover {
  background-color: #878ef3;
}

.btn--blue {
  background-color: #57ae09;
}
.btn--blue:hover {
  background-color: #63b2fc;
}
.btn--width {
  width: 120px;
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover {
  background-color: #57ae09;
  color: white;
}

.price-box__btn {
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -55px;
}

.row__sub--light {
  color: #aec0d2;
}
.item__img {
  width: 25px;
  margin-right: 10px;
}

.carousel {
}

.row__carousel {
  display: inline-block;
  float: none;
  border-radius: 6px;
}
.row--text-center {
  text-align: center;
}
.carousel-control {
  opacity: 1;
  background-image: none !important;
}

.carousel-control.left {
  left: -100px;
}

#carousel-control-right {
  right: -100px;
}

#carousel-control-left {
  margin-left: -100px;
}

.carousel-control.right {
  margin-right: -100px;
}

.carousel-inner {
  margin-top: -25px;
}

.carousel-control__img {
  position: absolute;
  top: 50%;
  margin-top: -90px;
}

#carousel-control__img1 {
  margin-left: -100px;
}

#carousel-control__img2 {
  margin-right: -100px;
}

.carousel-control.left .carousel-control__img {
  left: 0;
}

.carousel-control.right .carousel-control__img {
  right: 0;
}

.carousel-indicators li {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #57ae09;
  margin-right: 8px;
  border-radius: 50%;
}

.carousel-indicators li.active {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 3px solid #57ae09;
  margin-right: 10px;
  border-radius: 50%;
}
.item {
  text-align: left;
  position: relative;
  padding: 25px 15px 0px 25px;
}

#item {
  text-align: left;
  position: relative;
  padding: 25px 15px 0px 25px;
}

.item__content {
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
  height: 305px;
}
.item__img {
  display: inline-block;
}
.item__name {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  font-weight: 700;
}
.item__description {
  margin-top: 35px;
  color: #8198ae;
  line-height: 23px;
}
.item__avatar {
  height: 45px;
  width: 45px;
  background-image: url("https://static.pexels.com/photos/428333/pexels-photo-428333.jpeg");
  background-size: cover;
  border-radius: 50%;
  margin: 50px auto 15px auto;
}

.carousel-indicators {
  width: auto;
  margin: 0;
  right: 68px;
  text-align: right;
  top: 30px;
  left: auto;
  bottom: auto;
}
.item__content:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  bottom: -20px;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.2));
}

.item__people {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.item__occupation {
  font-size: 14px;
  color: #8198ae;
  text-align: center;
}

.site {
  text-align: center;
}
.site__title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.site__subtitle {
  font-size: 22px;
  color: #8198ae;
  margin: 15px 0 40px 0;
  text-align: center;
}

.site__img {
  margin-top: 50px;
  display: inline-block;
  width: 77%;
}
.site__box-link .btn--revert {
  margin-left: 15px;
}

/*menu header*/
.header {
  padding: 30px 25px;
}
.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__menu {
  float: right;
}
.header__el {
  padding: 0 25px;
  display: inline-block;
}
.header__img {
  display: inline-block;
  vertical-align: middle;
}

.header__logo,
.header__menu {
  display: inline-block;
  vertical-align: middle;
}
.header__title {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light {
  color: #8198ae;
}
.header__link {
  color: #1f4568;
  font-size: 14px;
}
.header__link:hover {
  text-decoration: none;
  color: #57ae09;
}
.navbar-toggle .icon-bar {
  background-color: #8198ae;
}
.navbar-toggle {
  margin: 5px 0;
  display: none;
}
.partner {
  margin-bottom: 15px;
  text-align: center;
}
.partner_img {
  width: 160px;
  opacity: 0.5;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.sect--no-padding {
  padding-top: 0;
}

.partner_img:hover {
  transform: scale(1.08, 1.08);
  opacity: 0.9;
}

.article-pre__col {
  padding: 0 30px;
  margin-bottom: 30px;
}

.article-pre__img {
  background-position: center;
  background-size: cover;
  padding-bottom: 55%;
  border-radius: 6px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  background-image: url(/src/assets/img/angular.png);
}

.article-pre__img--first {
  background-image: url(/assets/img/springboot.jfif);
}

.article-pre__img--second {
  background-image: url(/assets/img/mySQL.jpg);
}

.article-pre__img--third {
  background-image: url(/assets/img/bootstrap.png);
}

.article-pre__img--fourth {
  background-image: url(/assets/img/angular.png);
}

.article-pre:hover .article-pre__img {
  box-shadow: 0px 10px 13px 4px rgba(0, 0, 0, 0.2);
}

.article-pre:hover {
  text-decoration: none;
}
.article-pre__info {
  font-size: 16px;
  color: #8198ae;
  margin: 0;
  padding: 25px 25px 0 25px;
}

.article-pre__date {
  float: right;
}

.article-pre__title {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 15px 25px;
}

.article-pre__arrow--purple {
  color: #8a3aff;
}

.contacts_title-ag {
  margin: 0;
  margin-left: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  margin-left: 10px;
}

.contacts__link {
  color: #1f4568;
}

.contacts--light {
  color: #8198ae;
}

.contacts__address {
  margin-top: 20px;
  color: #8198ae;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 12px;
  margin-bottom: 17px;
  position: relative;
}

.contacts__address:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #8198ae;
  bottom: 0;
  left: 0;
}
.contacts__info {
  color: #8198ae;
  font-size: 16px;
  margin-bottom: 2px;
}
.contacts__info-link {
  color: #3a9fff;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
  display: table;
  width: 100%;
  position: relative;
}

.form__field {
  height: 50px;
  position: relative;
  border: none;
  padding: 10px 12px;
  width: 100%;
  border-radius: 6px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  z-index: 2;
}

.form__select {
  background-image: url("http://www.austinlawrencepartners.com/wp-content/uploads/arrow-down-gray-hi.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position-x: 97%;
  width: 100%;
  padding-right: 30px;
  background-position-y: center;
  background-color: #fff;
  color: #8198ae;
}

.form__field--half {
  width: 50%;
  float: left;
}

.form__field--half:first-of-type {
  padding-right: 15px;
}

.form__textarea {
  height: 200px;
}

.btn--up {
  position: absolute;
  bottom: -15px;
  right: 25px;
  z-index: 3;
}

.career_title {
  color: #fff;
  font-size: 28px;
}

.career_sub {
  font-size: 22px;
  color: #c7cbff;
  margin-top: 0;
  margin-bottom: 30px;
}

.career-img {
  position: absolute;
  bottom: 0;
  width: 65%;
  z-index: 0;
  left: 20%;
}

.footer {
  background-color: #1f4467;
  padding: 40px 0;
}

.footer__title {
  font-size: 18px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color: #3a9fff;
}

.footer__light {
  color: #fff;
}

.footer__social {
  float: right;
}

.footer__social-l {
  margin-left: 15px;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .collapse {
    display: none;
  }
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
  .header__container {
    width: 100%;
    padding: 0;
  }
  .header__menu {
    width: 100%;
  }
  .header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  .header__logo {
    padding: 12px 20px 12px 20px;
  }
  .header__el {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ededed;
  }

  .header .btn--white,
  .header .btn--white:hover {
    padding: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    background-color: transparent;
  }
  .header__el--blue {
    background-color: #3a9fff;
  }
}

@media screen and (max-width: 991px) {
  .price-box {
    padding: 0px 10px;
  }
  .carousel-control.left {
    left: -25px;
  }
  .carousel-control.right {
    right: -25px;
  }
  .item__content {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 0;
  }
  .price-box {
    padding: 0px 35px;
    margin-bottom: 50px;
  }
  .site__img {
    width: 100%;
  }
  .item__content {
    padding: 20px;
  }
  .item__description {
    font-size: 12px;
    line-height: 20px;
  }
  .article-pre__info {
    padding: 25px 10px 0 10px;
    font-size: 14px;
  }
  .article-pre__title {
    padding: 10px 10px;
    font-size: 16px;
  }
  .form {
    margin-top: 30px;
  }
  .form__field--half:first-of-type {
    margin-bottom: 10px;
    padding-right: 0px;
  }

  .form__field--half {
    width: 100%;
    float: none;
  }
  .form-group {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .price-box {
    padding: 0px 20px;
  }
  .carousel-control__img {
    width: 20px;
  }
  .carousel-control.left {
    left: -5px;
  }
  .carousel-control.right {
    right: -5px;
  }
  .partner {
    width: 100%;
  }
  .footer {
    padding: 15px 0;
  }
  .footer__img {
    width: 15px;
  }
  .footer__title {
    font-size: 16px;
    margin-left: 5px;
  }
  .sect {
    padding: 20px 0;
  }
  .sect--padding-top {
    padding-top: 80px;
  }
  .row__sub {
    font-size: 16px;
  }
  .row__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .price-box__title {
    font-size: 18px;
    margin-top: 10px;
  }
  .price-box__img {
    width: 100px;
    height: 100px;
  }
  .price-box__wrap {
    padding: 20px 20px 30px 20px;
  }
  .price-box__people {
    font-size: 10px;
    font-weight: 400;
  }
  .price-box__discount {
    font-size: 22px;
  }
  .price-box__price {
    font-size: 12px;
  }
  .price-box__feat {
    margin-top: 15px;
    font-size: 14px;
  }
  .price-box__list-el {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .site__title {
    font-size: 24px;
  }
  .site__subtitle {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }
  .site__img {
    margin-top: 30px;
  }
  .row--margin {
    margin-top: 30px;
  }
  /*   .btn {
    font-size: 12px;
    padding: 8px 8px;
  } */
  .btn--width {
    width: 100px;
  }
  .career_title {
    font-size: 18px;
    margin-top: 0;
  }
  .career_sub {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .carousel-indicators {
    display: none;
  }
  .item__name {
    font-size: 18px;
  }
  .item__description {
    margin-top: 18px;
  }
  .article-pre__date {
    font-size: 12px;
    float: none;
  }
  .btn-espaço {
    margin-right: 10px;
  }
  .logo-class {
    width: 15vw;
    margin-top: -1px;
    margin-left: -103px;
  }
}

/* Carrossel */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: 0.7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out 5s;
  -moz-transition: 2s all ease-in-out 5s;
  -ms-transition: 2s all ease-in-out 5s;
  -o-transition: 2s all ease-in-out 5s;
  transition: 2s all ease-in-out 5s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out 5s;
  -moz-transition: 2s all ease-in-out 5s;
  -ms-transition: 2s all ease-in-out 5s;
  -o-transition: 2s all ease-in-out 5s;
  transition: 2s all ease-in-out 5s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: 0.7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
  padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://images.pexels.com/photos/1292464/pexels-photo-1292464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://images.pexels.com/photos/6961112/pexels-photo-6961112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://images.pexels.com/photos/355919/pexels-photo-355919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em;
  }
}

/* Cards O que, por que e como */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.btn {
  background-image: linear-gradient(#28a745, #57ae09);
  border: none;

  transition: 0.4s ease-in;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: white !important;
  border: 1px solid greenyellow;
  color: black;
}
.btn:hover {
  box-shadow: none !important;
  background-image: none !important;
  background-color: white !important;
  border: 1px solid greenyellow !important;
  color: black !important;
}
.btn-primary {
  color: #fff;
  background-color: white !important;
  border-color: white !important;
}

input:focus {
  outline: none !important;
}

.imageSecond {
  background-image: url("https://images.pexels.com/photos/3608056/pexels-photo-3608056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.imageFirst {
  background-image: url("https://images.pexels.com/photos/3608056/pexels-photo-3608056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.stillCardImage {
  background-image: url("https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg");
  background-size: cover;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .card {
    width: 100% !important;
    height: 60% !important;
  }
  .buttonCard {
    padding-left: 4%;
    padding-right: 4%;
  }
  .imgSec {
    height: 100% !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .imgHero {
    transform: translateX(0%) !important;
    transform: translateY(-28%) !important;
    height: 35%;
  }
  .card {
    width: 100% !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .imgHero {
    height: 100%;
    justify-content: center;
  }
  .card {
    width: 100% !important;
  }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
html {
  font-size: 14.5px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  background-color: #f0f0f0;
  color: #404646;
}

* {
  box-sizing: border-box;
}

.main-container {
  margin: 1.6rem 0.8rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}
.card h1,
.card h2,
.card h3,
.card h4,
.card p {
  margin-top: 0;
  font-weight: normal;
}
.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}
.card__image img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.card__side-by-side--m img {
  min-height: auto;
}
.card__content {
  padding: 1.6rem;
}
.card__button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 0.8rem 1.6rem;
  background: none;
  border: 0.5px solid #777;
  border-radius: 2px;
}
.card__button:hover {
  border-color: #d099a0;
}
.card--featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}
.card--2x {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}
.card--vertical {
  grid-row: auto / span 2;
}
.card--horizontal {
  grid-column: auto / span 2;
}
.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

.padding-large {
  padding: 3.2rem;
}
.padding-large--l {
  padding: 1.6rem;
}

.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Sacramento", sans-serif;
  font-size: 4.3em;
  line-height: 1.15em;
  text-align: center;
}
.big-script p {
  margin: 0;
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card__side-by-side--m {
    flex-flow: row nowrap;
  }
  .card__side-by-side--m img {
    min-height: 100%;
  }
  .card--featured {
    grid-row: auto / span 2;
    grid-column: 1 / -1;
  }
}
@media (min-width: 836px) {
  .padding-large--l {
    padding: 3.2rem;
  }
}

/* Cards Missão, Valores e Visão */

/*  Helper Styles */
#body {
  font-family: Varela Round;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

/* Card Styles */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  /* border-radius: 8px 8px 0px 0; */
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #e26d5c;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #e26d5c;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

/* Testemunhos */
#body1 {
  font-family: "Noto Sans", sans-serif;
  padding: 40px 0;
}
h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
h2::after {
  content: "";
  width: 140px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #db584e;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel1 {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #db584e;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Implementações futuras */

#body2 {
	font-family: roboto;
	margin: 0;
	background-color: #eceff1;
}
#main2 {
	display: flex;

	width: 100vw;
	height: 100vh;
}



/*--------------------*\
	component card
\*--------------------*/
.Card {
	display: flex;
	justify-content: center;

	margin: auto;
	width: 70rem;
	min-height: 30rem;
}
	.Card-image {
		flex-basis: 40%;
		background-image:
			url(https://i.imgur.com/x9RH0ub.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.Card-body {
		--margin: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 60%;

		margin-top: var(--margin);
		margin-bottom: var(--margin);
		margin-left: -4em;
		padding: 0 1.4em;
		background-color: #fff;
		box-shadow: rgba(0,0,0,.2) 0 .2em .2em;
	}
	.Card-title {
		margin-bottom: .4em;
		text-transform: uppercase;
	}
	.Card-title,
	.Card-description { margin: 0; }

  /* Esquipe */
  .team-boxed {
    /* color:#313437;
    background-color:#eef4f7; */
  }

  .team-boxed p {
    color:#7d8285;
  }

  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }

  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }

  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }

  .team-boxed .intro p {
    margin-bottom:0;
  }

  .team-boxed .people {
    padding:50px 0;
  }

  .team-boxed .item {
    text-align:center;
  }

  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }

  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }

  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }

  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }

  .team-boxed .item img {
    max-width:160px;
  }

  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }

  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }

  .team-boxed .social a:hover {
    opacity:1;
  }
