<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="(../../assets/img/logo2.png)"
  />
  <meta name="theme-color" content="#1885ed" />
  <title>EmpowerEnergy - Homepage</title>
</head>
<!-- header -->
<body>
  <header class="header" style="padding-top: 10px">
    <div class="container header__container">
      <div class="header__logo">
        <div>
          <img
            style="width: 120px; margin-top: -2px"
            class="header__img"
            src="/assets/img/logobranco.svg"
          />
        </div>
      </div>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="header__menu">
        <nav id="navbar" class="header__nav collapse">
          <ul class="header__elenco">
            <li class="header__el">
              <a href="#" class="header__link">Home</a>
            </li>
            <li class="header__el">
              <a routerLink="/sobre" class="header__link">Sobre nós</a>
            </li>
            <li class="header__el header__el--blue">
              <a
                href=""
                routerLink="/entrar"
                class="btn btn--white btn-espaço text-white mr-2"
                >Login →</a
              >
              <a href="" routerLink="/cadastrar" class="btn  ml-2"
                >Cadastrar →</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- header -->

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="(../../assets/img/logo2.png)"
    />
    <meta name="theme-color" content="#1885ed" />
    <title>EmpowerEnergy - Homepage</title>
  </head>

  <body>
    <!-- Início Carrossel -->
    <div
      class="carousel fade-carousel slide carousel-fade w-100 mb-5"
      data-ride="carousel"
      data-interval="5000"
      id="bs-carousel"
    >
      <!-- Overlay -->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active carousel-item p-0">
          <div class="slide-1">
            <div class="overlay"></div>
          </div>
        </div>
        <div class="item slides carousel-item p-0">
          <div class="slide-2">
            <div class="overlay"></div>
          </div>
        </div>
        <div class="item slides carousel-item p-0">
          <div class="slide-3">
            <div class="overlay"></div>
          </div>
        </div>
        <div class="hero">
          <h1>Nós somos a Empower Energy</h1>
          <h3>A sua rede social de energias renováveis</h3>

          <button class="btn btn-hero btn-lg" role="button">
            Conheça mais
          </button>
        </div>
      </div>
    </div>
    <!-- Fim Carrossel -->

    <!-- Início cards -->
    <div class="container mb-5">
      <div class="card card--featured">
        <div class="card__side-by-side--m">
          <div class="card__content padding-large--l w-50">
            <h2>O quê?</h2>
            <p>
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in,
              nibh. Quisque volutpat condimentum velit.
            </p>
            <p>
              Class aptent taciti sociosqu ad litora torquent per conubia
              nostra, per inceptos himenaeos.
            </p>
            <!-- <button class="btn btn-primary col-md-3 mt-1 mt-md-0" type="submit">
              Get Now
            </button> -->
          </div>
          <div class="card__image w-50">
            <img
              src="https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 415px;"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-5">
      <div class="card card--featured">
        <div class="card__side-by-side--m">
          <div class="card__image w-50">
            <img
              src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2021/09/Usina-de-Ondas-Pecem.jpg?w=876&h=484&crop=1" style="height: 415px;"
            />
          </div>
          <div class="card__content padding-large--l w-50">
            <h2>Por quê?</h2>
            <p>
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in,
              nibh. Quisque volutpat condimentum velit.
            </p>
            <p>
              Class aptent taciti sociosqu ad litora torquent per conubia
              nostra, per inceptos himenaeos.
            </p>
            <!-- <button class="btn btn-primary col-md-3 mt-1 mt-md-0" type="submit">
              Get Now
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-5">
      <div class="card card--featured">
        <div class="card__side-by-side--m">
          <div class="card__content padding-large--l w-50">
            <h2>Como?</h2>
            <p>
              Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in,
              nibh. Quisque volutpat condimentum velit.
            </p>
            <p>
              Class aptent taciti sociosqu ad litora torquent per conubia
              nostra, per inceptos himenaeos.
            </p>
            <!-- <button class="btn btn-primary col-md-3 mt-1 mt-md-0" type="submit">
              Get Now
            </button> -->
          </div>
          <div class="card__image w-50">
            <img
              src="https://i2.wp.com/jornalbrasilpecas.com.br/wp-content/uploads/2021/06/21-05-21-usinas-bp.jpg?resize=678%2C381&ssl=1" style="height: 415px;"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Cards -->

    <!-- Início Cards Missão -->
    <div class="container mb-5" style="margin-top: 50px">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="card-sl">
            <div class="card-image">
              <a href="#" class="card-button">Missão</a>
              <img src="/assets/img/ksnip_20211125-224620(1).png" />
            </div>

            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
              ullam ratione distinctio accusamus quae. Ipsam quaerat voluptatem,
              vitae ea modi obcaecati sit repellat hic non blanditiis tenetur
              officia nihil dicta nemo rem veniam? Esse exercitationem
              aspernatur, voluptas officia animi excepturi nisi, soluta
              molestias accusamus maiores, a voluptatibus voluptatum at vero.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-sl">
            <div class="card-image">
              <a href="#" class="card-button">Visão</a>
              <img src="/assets/img/ksnip_20211125-224624-removebg-preview.png" />
            </div>

            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              id eius ut deleniti adipisci vitae quaerat quam dicta facilis
              nesciunt! Aperiam, molestiae officiis accusantium error illum
              alias beatae eveniet, magnam, quibusdam modi dolore earum quam?
              Possimus consequatur distinctio temporibus, corporis tempora vero
              soluta voluptates illum ratione eos iste, eligendi ipsa.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-sl">
            <div class="card-image">
              <a href="#" class="card-button">Valores</a>
              <img src="/assets/img/ksnip_20211125-224242-removebg-preview.png" />
            </div>

            <div class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
              temporibus eaque voluptatem a veritatis, quidem reiciendis nobis
              quibusdam dolor amet dolorem necessitatibus error distinctio sit
              facilis, consequuntur perferendis magni, quas neque voluptates.
              Laboriosam possimus nesciunt numquam officiis dolorum magnam
              recusandae deleniti est esse quidem beatae ipsa, corrupti.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Cards Missão -->

    <!-- Início Testemunhos -->
    <div class="container" id="body1">
      <div class="row">
        <div class="col-md-8 col-center m-auto">
          <h2>O que nossos usuários estão falando</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel -->
            <div class="carousel-inner">
              <div class="item carousel-item active">
                <div class="img-box">
                  <img src="https://i.ibb.co/d5DY64w/img1.jpg" alt="" />
                </div>
                <p class="testimonial">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                  eu sem tempor, varius quam at, luctus dui. Mauris magna metus,
                  dapibus nec turpis vel, semper malesuada ante. Idac bibendum
                  scelerisque non non purus. Suspendisse varius nibh non
                  aliquet.
                </p>
                <p class="overview"><b>Jennifer Smith</b>, Office Worker</p>
              </div>
              <div class="item carousel-item">
                <div class="img-box">
                  <img src="https://i.ibb.co/5FF1vqz/img2.jpg" alt="" />
                </div>
                <p class="testimonial">
                  Vestibulum quis quam ut magna consequat faucibus. Pellentesque
                  eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus.
                  Pellentesque viverra sagittis quam at mattis. Suspendisse
                  potenti. Aliquam sit amet gravida nibh, facilisis gravida
                  odio.
                </p>
                <p class="overview"><b>Dauglas McNun</b>, Financial Advisor</p>
              </div>
              <div class="item carousel-item">
                <div class="img-box">
                  <img src="https://i.ibb.co/Trv7hDv/img3.jpg" alt="" />
                </div>
                <p class="testimonial">
                  Phasellus vitae suscipit justo. Mauris pharetra feugiat ante
                  id lacinia. Etiam faucibus mauris id tempor egestas. Duis
                  luctus turpis at accumsan tincidunt. Phasellus risus risus,
                  volutpat vel tellus ac, tincidunt fringilla massa. Etiam
                  hendrerit dolor eget rutrum.
                </p>
                <p class="overview"><b>Hellen Wright</b>, Athelete</p>
              </div>
            </div>
            <!-- Carousel Controls -->
            <a
              class="carousel-control left carousel-control-prev"
              href="#myCarousel"
              data-slide="prev"
            >
              <i class="fa fa-angle-left"></i>
            </a>
            <a
              class="carousel-control right carousel-control-next"
              href="#myCarousel"
              data-slide="next"
            >
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Testemunhos -->

    <!-- Início implementações -->
    <div id="main2 body2 mb-5">
      <div class="Card">
        <div class="Card-image"></div>
        <div class="Card-body">
          <h1 class="Card-title mb-4">Implementações Futuras</h1>
          <div>
            <h5>EpowerEnergy 2.0</h5>

            <ul class="Card-description">
              <li>Melhorar acessibilidade e responsividade da plataforma;</li>
              <li>Implementar a funcionalidade de amigos e projetos;</li>
              <li>Aperfeiçoar a experiência do usuário;</li>
              <li>
                Incluir a ideia de financiamento coletivo das melhores ideias e
                projetos;
              </li>
              <li>
                Posteriormente, quando os projetos se tornarem viáveis,
                incluí-los em uma área de e-commerce dedicada na nossa
                plataforma.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim implementações -->

    <!-- Início Team -->

    <div class="container-fluid p-0 mt-5" id="main2 body2">
      <footer class="bg-dark text-center text-white">
        <div class="team-boxed">
          <div class="container">
            <div class="intro">
              <h2 class="text-center">Nossa equipe</h2>
              <p class="text-center text-light">
                Integrantes do Projeto Empower Energy
              </p>
            </div>
            <div class="row people pb-2">
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="/assets/img/young caique.jpeg"
                  />
                  <h3 class="name text-dark">Caique Bezerra</h3>
                  <p class="title">Desenvolvedor Java</p>
                  <p class="description" style="height: 140px;">
                    Natural de Atibaia, interior de SP. Cursando o quarto
                    semestre de Eng. de Software na Estácio de Sá. Gosta de ler,
                    passear e estar em constante crescimento.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/caiquebezerra/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/caiqueb05"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="/assets/img/eve.jpeg" />
                  <h3 class="name text-dark">Evelyn Arruda</h3>
                  <p class="title">Desenvolvedora Java</p>
                  <p class="description" style="height: 140px;">
                    Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                    lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                    finibus est, et interdum justo suscipit id. Etiam dictum
                    feugiat tellus, a semper massa.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/evelyn-arruda-silva-846306196/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/evelynarruda"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="/assets/img/kau.jpeg" />
                  <h3 class="name text-dark">Kauana Andrade</h3>
                  <p class="title">Desenvolvedora Java</p>
                  <p class="description" style="height: 140px;">
                    Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                    lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                    finibus est, et interdum justo suscipit id. Etiam dictum
                    feugiat tellus, a semper massa.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/kauana-andrade/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/kauanaandrade"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row people pt-0 pb-2">
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="/assets/img/leonardo azevedo.jfif" />
                  <h3 class="name text-dark">Leonardo Azevedo</h3>
                  <p class="title">Desenvolvedor Java</p>
                  <p class="description" style="height: 140px;">
                    Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                    lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                    finibus est, et interdum justo suscipit id. Etiam dictum
                    feugiat tellus, a semper massa.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/leonardo-azevedo-991ab513a/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/lleonardoazevedo"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="/assets/img/lucas-profile.jpg" />
                  <h3 class="name text-dark">Lucas Reis</h3>
                  <p class="title">Desenvolvedor Java</p>
                  <p class="description" style="height: 140px;">
                    Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                    lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                    finibus est, et interdum justo suscipit id. Etiam dictum
                    feugiat tellus, a semper massa.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/lucasreis727/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/therealkaslow"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="/assets/img/ronan man.jpeg" />
                  <h3 class="name text-dark">Ronan Bedia</h3>
                  <p class="title">Desenvolvedor Java</p>
                  <p class="description" style="height: 140px;">
                    Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                    lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                    finibus est, et interdum justo suscipit id. Etiam dictum
                    feugiat tellus, a semper massa.
                  </p>
                  <div class="social">
                    <a target="_blank" href="https://www.linkedin.com/in/ronan-bedia-74a444180/"
                      ><i
                        class="fa fa-linkedin-square fa-2x"
                        aria-hidden="true"
                      ></i></a
                    ><a target="_blank" href="https://github.com/ronanbedia"
                      ><i
                        class="fa fa-github-square fa-2x"
                        aria-hidden="true"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fim Team -->



        <div class="container pb-5">
          <section class="mt-6">
            <!-- Section: Social media -->

            <!-- botao do github da organização -->
            <a
              class="btn btn-outline-dark m-1"
              target="_blank"
              href="https://github.com/Projeto-Integrador-EmpowerEnergy"
              role="button"
              ><i class="fa fa-github fa-5x"></i
            ></a>

            <h3
              class="row__title container mt-1"
              style="
                font-family: Lato, sans-serif;
                background-color: transparent;
                margin-bottom: -10px;
              "
            >
              Github do Projeto
            </h3>
          </section>
        </div>
        <!-- Section: Social media -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2021 Copyright:
          <a class="text-white" href="">EmpowerEnergy</a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
    <!-- End of container -->
  </body>
</body>
